/* =============
    Section 9
============= */
#section-9{

    padding: 30px 0px;

    ul{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px 230px 200px;
        grid-template-areas: "g1 g1"
                            "g2 g3"
                            "g4 g4";

        #gallery-1{
            grid-area: g1;

            background-image: url('../img/Section-9/gallery-1.jpg');
            background-position: center;
            background-size: cover;
            
        }

        #gallery-2{
            grid-area: g2;

            background-image: url('../img/Section-9/gallery-2.jpg');
            background-position: center;
            background-size: cover;
        }

        #gallery-3{
            grid-area: g3;

            background-image: url('../img/Section-9/gallery-3.jpg');
            background-position: center;
            background-size: cover;
        }

        #gallery-4{
            grid-area: g4;

            background-image: url('../img/Section-9/gallery-4.jpg');
            background-position: center;
            background-size: cover;
        }

        #gallery-5{
            background-image: url('../img/Section-9/gallery-5.jpg');
            background-position: center;
            background-size: cover;

            display: none;

        }

        #gallery-6{

            background-image: url('../img/Section-9/gallery-6.jpg');
            background-position: center;
            background-size: cover;

            display: none;
        }


    }

    p{
        font-size: rem-calc(30);
        line-height: rem-calc(40);
        text-align: center;
    }


}