/* =============
    Section 8
============= */
#section-8{
    #section-8-content{

        background-color: $blue;
        padding: 30px 10px;
        margin-top: 30px;

        @include md{
            padding: 0px;
        }

        #section-8-grid{

            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: auto auto;
            grid-template-areas: "vip ."
                                ". text";

            @include md{
                grid-template-rows: 1fr;
                grid-template-columns: 30% 70%;
                grid-template-rows: 215px;
                grid-template-areas: "vip text";
            }

            #vip-title{
                grid-area: vip;
                padding-bottom: 10px;
                

                @include md{
                    text-align: center;
                    padding-top: 90px;

                    border-right: 20px solid $white;
                    
                }
            }
                
            #vip-body-text{
                grid-area: text;
                padding-bottom: 30px;

                p{
                    line-height: 20px;

                    @include md{
                        font-size: rem-calc(18);
                        line-height: rem-calc(24);
                        padding: 30px;
                    }
                }   

                @include md{
                    text-align: justify;
                    padding: 20px 30px 20px 30px;
                    
                    
                }

            }
            
        }

        .white-button{
            padding-bottom: 10px;
            
            @include md{
                padding-bottom: 30px;
                display: flex;
                
            }
        }
        
        

    




    }


}