/* =============
    Section 4
============= */
#section-4{ 
    #s4-container{

        @include xl{
            display: grid;
            grid-template-columns: auto 1200px auto;
            grid-template-areas: ". s4 .";
            
        }

        #s4-content{
            grid-area: s4;

            padding: 30px 0px;

            @include md{
                display: grid;
                grid-template-columns: auto 40%;
                grid-template-areas: "img text";

                padding: 60px 0px;
            }

            @include lg{
                padding: 100px 0px;
            }

            @include xl{
                padding: 100px 0px 100px 100px;
                
            }


            aside{
                grid-area: img;

                background-image: url('../img/Section-4/cars-profile.jpg');
                background-position: center;
                background-size: cover;
                height: 400px;

                @include xl{
                    width: 600px;
                }
            }

            section{
                grid-area: text;

                p{
                    font-size: rem-calc(18);
                    line-height: rem-calc(23);
                    font-family: 'armata', sans-serif;

                    text-align: justify;
                    padding: 0px 60px;
                    padding-top: 30px;
                    margin: 0px;

                    @include md{
                        padding: 120px 30px;
                        text-align: left;
                        line-height: rem-calc(25);
                    }

                    @include lg{
                        padding: 100px 80px;
                  
                    }

                    @include xl{
                       
                        padding-left: 60px;
                        padding-top: 130px;
                        padding-right: 130px;
                    
                    }
                    

                }
            }


        }
    }


}