/* =============
    Section 5
============= */
#section-5{

    #s5-content{

        background-color: $gray;
        color: $white;
        padding-top: 30px;
        padding-bottom: 30px;

        @include md{
            padding-top: 55px;
            padding-bottom: 55px;
        }

        @include lg{
            padding-top: 95px;
            padding-bottom: 100px;
        }

        #title-strip-ham{
            background-color: $yellow;
            padding: 20px 0px;

            @include md{
                padding:25px 0px;
            }

            @include lg{
                padding: 20px 0px;
                margin-bottom: 60px;
            }

            h1{
                text-align: center;

                @include md{
                    font-size: rem-calc(38);
                }

                @include lg{
                    font-size: rem-calc(55);
                    
                }
            }

        }

        

        #drivers{

            @include xl{
                display: grid;
                grid-template-columns: auto 450px 450px 450px auto;
                grid-template-areas: ". verstappen ham bottas .";
                grid-gap: 20px;
            }
            
            #Hamilton{
                grid-area: ham;

                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "img txt";

                @include md{
                    grid-template-columns: 50px 350px auto 50px;
                    grid-template-rows: 1fr 110px;
                    grid-template-areas: ". img table ."
                                        ". txt table .";
                }

               @include lg{
                //    padding-top: 100px;

                    grid-template-columns: auto 500px auto;
                    grid-template-rows:  auto auto;
                    grid-template-areas: 
                                    ". ham-top ."
                                    ". table-bottom .";
               }

               @include xl{
                   
                   padding-top: 13px;
               }

                #ham-left{
                    grid-area: img;

                    background-image: url('../img/section-5/lewis.png');
                    background-position: center;
                    background-size: cover;
                    height: 270px;
                    background-position-y: 15px;
                    background-repeat: no-repeat;

                    background-color: $light-gray;
                    margin-top: 30px;
                    

                    @include md{
                        margin-top: 55px;
                        height: 300px;
                    }
                    
                    @include lg{
                        display: none;
                        margin-bottom: -10px;
                    }

                    
                }

                #ham-top-desktop{
                    display: none;

                    @include lg{
                        display: block !important;

                        grid-area: ham-top;

                    }
                }

                #ham-right{
                    grid-area: txt;

                    background-color: $white;
                    color: $black;
                    text-align: center;

                    margin-top: 30px;
                    padding-top: 30px;

                    @include lg{
                        display: none;
                    }

                    

                    p{
                        font-size: rem-calc(20);
                        line-height: 30px;
                        line-height: rem-calc(22);
                        padding-top: 5px;
                        

                        @include md{
                            font-size: rem-calc(26);
                            margin-top: 20px;
                            padding-bottom: 10px;
                            
                        }

                        @include lg{
                            margin-top: 30px;
                        }

                       
                        #name-break{
                            display: block;

                            @include md{
                                display: inline;
                            }
                        }   
                        
                    }

                    #mercedes{
                        padding-top: 30px;
                        padding-bottom: 30px;

                        font-size: rem-calc(16);

                        #UK{
                            display: none;
                        }

                        @include md{
                            padding:0px;
                            margin: 0px;
                            font-size: rem-calc(18);

                            #UK{
                                display: inline !important;
                            }
                        }

                        @include lg{
                            padding-bottom: 35px;
                            padding-top: 10px;
                        }
                        
                    }

                    @include md{
                        margin: 0px;
                        padding: 0px;
                    }

                    img{
                        @include md{
                            display: none;
                        }

                      
                    }
                    

                }

                #ham-table{
                    display: none;
                    padding: 20px;

                    @include md{
                        padding: 30px 30px 0px 30px;
                        font-size: rem-calc(21);
                    }

                    @include lg{
                        padding: 30px 0px 0px 75px;
                    }

                    img{
                        padding-bottom: 40px;
                        
                        @include md{
                            padding-bottom: 30px;
                        }

                        @include lg{
                            display: none;
                        }
                        
                    }
                    
                    table{
                        td{
                            line-height: rem-calc(30);

                            @include md{
                                padding-left: 5px;
                            }

                            @include lg{
                                line-height: rem-calc(35);
                                font-size: rem-calc(21);
                            }


                        }

                        width: 300px;

                        @include lg{
                            width: 320px;
                        }

                        @include xl{
                            display: none;
                        }

                    }
                    

                    @include md{
                        margin-top: 70px;
                        display: block !important;
                        grid-area: table;
                    }

                    @include lg{
                        margin-top: 0px;
                        padding-bottom: 10px;
                        grid-area: table-bottom;
                        
                    }

        
                }


            }

            #Bottas{
                display: none;

                @include xl{
                    display: block !important;
                    grid-area: bottas;
                    
                }

            }

            #Verstappen{
                display: none;

                @include xl{
                    display: block !important;
                    grid-area: verstappen;
                }


            }

        }

        .white-button{
            text-align: center;
            
            margin-top: 40px;
            margin-bottom: 10px;

            @include md{
                margin-top: 40px;
            }

            @include lg{
                margin-top: 25px;
            }

            @include xl{
                display: none;

                
            }

        }


    }

}