/* =============
    Section 8
============= */
#section-8{
    #section-8-content{

        background-color: $blue;
        padding: 30px 10px 20px 10px;
        margin-top: 30px;

        @include md{
            padding: 0px;
            background-color: $white;
            
        }

        #section-8-grid{

            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: auto auto;
            grid-template-areas: "vip ."
                                ". text";

            @include md{
                grid-template-rows: 1fr;
                grid-template-columns: auto 63%;
                grid-template-rows: 215px;
                grid-template-areas: "vip text";
                grid-gap: 20px;
            }

            @include lg{
                grid-template-columns: auto 250px 650px auto;
                grid-template-areas: ". vip text .";
                grid-gap: 0px;
            }

            #vip-title{
                grid-area: vip;
                padding-bottom: 10px;
                padding-left: 10px;
                

                @include md{
                    text-align: center;
                    padding-top: 80px;

                    background-color: $blue;
                    
                }

                h1{
                    @include lg{
                        font-size: 45px;
                    }
                }

            }
                
            #vip-body-text{
                grid-area: text;
                padding-bottom: 20px;

                p{
                    line-height: 20px;
                    font-family: 'armata', sans-serif;

                    @include md{
                        font-size: rem-calc(18);
                        line-height: rem-calc(24);
                        padding: 30px 50px 0px 50px;
                    }

                    @include lg{
                        grid-area:vip-text-left;
                        padding: 40px 0px;
                    }
                }   

                @include md{
                    text-align: justify;
                    background-color: $blue;
                }

                @include lg{
                    display: grid;
                    grid-template-columns: 380px auto;
                    grid-template-areas: "vip-text-left btn-right";
                }

                

                .white-button{
                    padding-top: 35px;
                    text-align: left;
        
                    @include md{
                        text-align: right;
                        padding-top: 5px;
                        padding-right: 50px;
                    }

                    @include lg{
                        grid-area: btn-right;
                        padding-top: 90px;
                        padding-left: 30px;
                        text-align: center;
                    }
                }

            }
            
        }

       
        
        

    




    }


}