/* =============
    Section 9
============= */
#section-9{

    padding: 30px 0px;

    @include md{
        padding: 60px 0px;
    }

    @include lg{
        padding: 100px 0px;
    }

    ul{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 500px 230px 200px;
        grid-template-areas: "g1 g1"
                            "g2 g3"
                            "g4 g4";

        @include md{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 465px 230px;
            grid-template-areas: "g1 g1 g1"
                                "g4 g2 g3";
        }

        @include lg{
            grid-template-columns: 4fr 2fr 3fr;
            grid-template-rows: 300px 250px 300px;
            grid-template-areas: "g1 g1 g3" 
                                "g1 g1 g2" 
                                "g4 g5 g2";
        }

        @include xl{
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 300px 250px 300px;
            grid-template-areas: "g6 g1 g1 g3" 
                                "g6 g1 g1 g2" 
                                "g4 g4 g5 g2";

        }

        #gallery-1{
            grid-area: g1;

            background-image: url('../img/Section-9/gallery-1.jpg');
            background-position: center;
            background-size: cover;

            
            p{
                font-size: rem-calc(30);
                line-height: rem-calc(40);
                text-align: center;

                padding: 30px 10px;

                @include md{
                    font-size: rem-calc(40);
                    line-height: rem-calc(50);

                    padding: 40px 150px
                    
                }

                @include lg{
                    font-size: rem-calc(45);
                    line-height: rem-calc(55);

                    padding: 40px 100px
                    
                }
            }
        }

        #gallery-2{
            grid-area: g2;

            background-image: url('../img/Section-9/gallery-2.jpg');
            background-position: center;
            background-size: cover;
        }

        #gallery-3{
            grid-area: g3;

            background-image: url('../img/Section-9/gallery-3.jpg');
            background-position: center;
            background-size: cover;
        }

        #gallery-4{
            grid-area: g4;

            background-image: url('../img/Section-9/gallery-4.jpg');
            background-position: center;
            background-size: cover;
        }

        #gallery-5{
            grid-area: g5;
            background-image: url('../img/Section-9/gallery-5.jpg');
            background-position: center;
            background-size: cover;

            display: none;

            @include lg{
                display: block !important;
            }

        }

        #gallery-6{
            grid-area: g6;

            background-image: url('../img/Section-9/gallery-6.jpg');
            background-position: center;
            background-size: cover;

            display: none;

            @include xl{
                display: block !important;
            }
        }


    }

    


}