/* =============
    Section 7
============= */
#section-7{
    margin-bottom: 530px;

    @include md{
        margin-bottom: 500px;
    }

    @include lg{
        margin-bottom: 550px;
        margin-top: 30px;
    }

    div{
        
        #bg-7{
            background-image: url('../img/section-7/racing-car.jpg');
            background-position: center;
            background-position-y: -50px;
            background-size: cover;
            height: 200px;

            @include md{
                height: 375px;
                background-position-y: -200px;
            }

            @include lg{
                height: 500px;
                background-position-y: -320px;
            }

            #title-strip-tix{
                h1{
                    text-align: center;
                    color: $white;
                    background-color: $red;
                    padding: 20px 0px 20px 0px;

                    @include lg{
                        font-size: rem-calc(55);
                    }

                }
            
                padding-top: 55px;
                padding-bottom: 55px;
                
                @include lg{
                    padding-top: 95px;
                    padding-bottom: 95px;
                }
            }

        }


        
        #table-grid{

            @include lg{
                display: grid;
                grid-template-columns: auto 700px auto;
                grid-template-areas: ". section-7-table .";
            }
            
        #table-and-button{
            
            grid-area: section-7-table;   

            background-color: $gray;
            padding-bottom: 40px;

            @include md{
                margin: 0px 80px;
                padding: 50px;
            }

            @include lg{
                margin: 0px;
                padding: 50px;
            }

            

            #tickets-table{
                

                color: $white;

                td{
                    font-size: rem-calc(16);

                    @include md{
                        font-size: rem-calc(18);
                    }

                    
                }

                .hide-buttons{
                    display: none;

                    @include md{
                        display: block;
                    }
                }
    
                #tix, #money{
                    font-size: rem-calc(25);

                    @include md{
                        font-size: rem-calc(27);
                    }

                    #price{
                        display: none;

                        @include md{
                            display: inline;
                        }
                    }
                }

                #money{
                    text-align: center;
                    
                    
                }
        
                table { 
                    border-spacing: 20px 30px;
                    border-collapse: separate;
    
                    line-height: rem-calc(20); 

                    @include md{
                        border-spacing: 20px 40px;
                        
                    }

                    .sold-out-button{
                        display: none;

                        @include md{
                            display: block !important;
                        }
                    }

                    .red-button{
                        display: none;

                        @include md{
                            display: block !important;
                        }
                    }

                }
            }

            #red-button-7{
                padding-top: 10px;
                @include md{
                    display: none !important;
                }
            }

        }
        }

        






    }



}