/* =============
    Header
============= */

#header{
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;

    background-color: $red;

    div{
        display: grid;
        grid-template-areas: "logo burger"
                            "nav nav";
        grid-template-columns: auto auto;

        @include md{
            grid-template-areas: "logo nav";
            grid-template-columns: 26% auto;
        }
        

        #logo-container{
            grid-area: logo;
            padding: 25px;

            img{
                height: 30px;

                @include md{
                    height: 40px;
                }
                
                @include lg{
                    height: 55px;
                }
            }
        }

        #burger-container{

            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 30px;


            i{
                cursor: pointer;
                font-size: rem-calc(30);
                color: $white;
            }

            @include md{
                display: none !important; 
            }

        }

        #nav-container{
            grid-area: nav;

            padding: 15px 30px;
            background-color: $white;
            text-align: end;
            display: none;

            border-bottom: 10px $red solid;

            #hide-home{
                display: none;
            }

            @include md{
                display: block !important;
                border-bottom: none;
                font-size: rem-calc(18);
                background-color: $red;
                padding: 30px;

                #hide-home{
                    display: block !important;
                }
                
                ul{
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 10px;

                    li{
                        flex: 1;
                        padding: 0px 25px;
                    }
                }

            }

            @include lg{
                ul{
                    margin-top: 15px;
                }

            }

            @include xl{
                margin-left: 300px;
                

            }

           


        }



    }






}