/* =============
    Header
============= */

header{
    background-color: $red;
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;

    div{
        background-color: $black;




    }










}