/* =============
    Navigation
============= */
 ul{
    height: 100%;

    li{
        padding-bottom:15px;


        a:link,
        a:visited{
            color: $red;
            text-decoration: none;

            @include md{
                color: $white;
            }
        }

        a:hover,
        a:active{
            color: $black;
        }
        
    }


 }